# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*.local

# Build output
dist/
build/
out/

# TypeScript
*.tsbuildinfo

# Testing
coverage/
.nyc_output/

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Others
*.log
*.tgz
*.local

# Optional for GitHub Codespaces
.devcontainer/

# Optional for Docker
docker-compose.override.yml
